body {
  margin-top: 50px;
}

modal-body {
  padding-right: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

footer {
  padding: 20px;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}